<div class="container" *ngIf="toDoUpdate">
    <h2>Update things to do</h2>
  
    <form [formGroup]="toDoForm">
      <div class="form-group col-md-5 mb-3">
        <label for="name">To Do</label>
        <input
          type="text"
          class="form-control"
          id="toDo"
          placeholder="Enter To Do"
          formControlName="toDo"
          value="{{toDoUpdate.toDo}}"
        />
      </div>
  
      <div class="form-group col-md-5 mb-3">
        <label for="name">Due Date</label>
        <input
          type="date"
          class="form-control"
          id="dueDate"
          placeholder="Enter Due Date"
          formControlName="dueDate"
        />
      </div>



      <div class="form-group col-md-5 mb-3">
        <label for="name">Label</label>
        <select formControlName="label" id="label" placeholder="Select an option" class="form-control">
          <option value="" disabled selected>Select an option</option>
          <option *ngFor="let option of labels" [value]="option.name" [selected]="option.name ==toDoUpdate.status">{{option.name}}</option>
        </select>
      </div>
  
      <div class="form-group col-md-5 mb-3">
        <label for="name">Status</label>
        <select formControlName="status" id="status" class="form-control">
          <option value="" disabled selected>Select an option</option>
          <option *ngFor="let option of statuses" [value]="option.name" [selected]="option.name ==toDoUpdate.label">{{option.name}}</option>
        </select>
      </div>
  
      <button (click)="onSubmit()" [disabled]="!toDoForm.valid || !toDoForm.dirty" class="btn btn-primary mx-3">
        Save To do
      </button>
    </form>
  </div>
  