<div class="container" >
  <h2>Create things to do</h2>

  <form [formGroup]="toDoForm">
    <div class="form-group col-md-5 mb-3">
      <label for="name">To Do</label>
      <input
        type="text"
        class="form-control"
        id="toDo"
        placeholder="Enter To Do"
        formControlName="toDo"
      />
    </div>

    <div class="form-group col-md-5 mb-3">
      <label for="name">Due Date</label>
      <input
        type="date"
        class="form-control"
        id="dueDate"
        placeholder="Enter Due Date"
        formControlName="dueDate"
      />
    </div>

    <div class="form-group col-md-5 mb-3">
      <label for="name">Label</label>
      <select formControlName="label" id="label" placeholder="Select an option" class="form-control">
        <option value="" disabled selected>Select an option</option>
        <option *ngFor="let option of labels" [value]="option.name">{{option.name}}</option>
      </select>
    </div>

    <div class="form-group col-md-5 mb-3">
      <label for="name">Status</label>
      <select formControlName="status" id="status" class="form-control">
        <option value="" disabled selected>Select an option</option>
        <option *ngFor="let option of statuses" [value]="option.name">{{option.name}}</option>
      </select>
    </div>

    <button (click)="onSubmit()" [disabled]="!toDoForm.valid || !toDoForm.dirty" class="btn btn-primary">
      Save To do
    </button>

  </form>
</div>
