<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">
            Manage task management if you want to keep a track
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li class="text-white">
              <!-- <a routerLink="/task-create" class="text-white">Create Task</a> -->
              Sonu
            </li>
            <li class="text-white">
              <!-- <a routerLink="/task-list" class="text-white">Go to list</a> -->
              Kunmun
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>To Do Management</strong>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Your tasks</h1>
      <p class="lead text-muted">Something short</p>
      <p>
        <a routerLink="/task-create" class="btn btn-primary my-2">Create Task</a>
        <a routerLink="/task-list" class="btn btn-secondary my-2 mx-2">Go to lists</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <router-outlet></router-outlet>
    </div>

</main>






